$color-yellow: #f4edc9;


  * {
    margin: 0;
    padding: 0;
  }
  
  a, a:visited, a:link {
    text-decoration: none;
    color: #002D5A;
  }
  
  #app {
    font-family: 'Nunito';
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
  }
  
  p {
    font-size: 17px;
  }

@font-face {
    font-family: "FrutigerNEXT";
    src: local("FrutigerNEXT"),   url(/assets/fonts/FrutigerNEXT/FrutigerNextLT-Medium.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "FrutigerNEXT";
    src: local("FrutigerNEXT"),   url(/assets/fonts/FrutigerNEXT/FrutigerNextLT-Bold.otf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "FrutigerNEXT";
    src: local("FrutigerNEXT"),   url(/assets/fonts/FrutigerNEXT/FrutigerNextLT-Heavy.otf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "FrutigerNEXT";
    src: local("FrutigerNEXT"), url(/assets/fonts/FrutigerNEXT/FrutigerNextLT-Black.otf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"), url(/assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"), url(/assets/fonts/Nunito/Nunito-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"), url(/assets/fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
  
  
  